@font-face {
    font-family: 'Press Start 2P';
    src: url('fonts/PressStart2P-Regular.ttf');
}

@font-face {
    font-family: 'Pixelify Sans';
    src: url('fonts/PixelifySans-Regular.ttf');
}

@font-face {
    font-family: 'VT323';
    src: url('fonts/VT323-Regular.ttf');
}

/*****************************************************************************/
/* L O O K E D - U P   C O L O R S *******************************************/
/*****************************************************************************/

.root {
    -aft-color-menu-bg: #181818;
    -aft-color-menu-hilight: #404040;
    -aft-color-menu-separator: #404040;
    -aft-color-text-flow-bg: #202020;
    -aft-color-text-flow-scrollbar: #202020;
    -aft-color-window-bg: black;
    -aft-color-window-location-image-bg: black;
    -aft-color-window-modal-bg: black;
    -aft-color-window-modal-border: gray;
    -aft-color-window-text: #E0E0E0;
    -aft-color-window-button: #808080;
    -aft-color-window-hover: #A0A0A0;
}

/*****************************************************************************/
/* C U S T O M   S T Y L E S *************************************************/
/*****************************************************************************/

.label {
    -fx-font-family: 'VT323';
    -fx-font-size: 20;
	-fx-text-fill: -aft-color-window-text;
}

.button {
    -fx-width: 40;
    -fx-height: 20;
    -fx-background-color: -aft-color-window-button;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 0;
}

.button:hover {
    -fx-background-color: -aft-color-window-hover;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 0;
}

.button .text {
    -fx-font-family: 'VT323';
    -fx-font-size: 20;
    -fx-fill: -aft-color-window-text;
}

.menu-bar, .menu, .menu-item, .separator-menu-item, .separator:horizontal, .context-menu {
    -fx-background-color: -aft-color-menu-bg;
}

.menu-bar, .menu, .menu-item {
	-fx-padding: 2 6 2 6;
}

.menu:hover {
    -fx-background-color: -aft-color-menu-hilight;
}

.menu:showing {
    -fx-background-color: -aft-color-menu-hilight;
}

.menu-item:focused {
    -fx-background-color: -aft-color-menu-hilight;
}

.separator:horizontal .line {
    -fx-border-color: transparent transparent transparent transparent,
        -aft-color-menu-separator transparent transparent transparent;
    -fx-border-insets: 0, 1 0 0 0;
}

.scroll-bar:vertical {
    -fx-background-color: -aft-color-window-bg;
	-fx-width: 30;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: -aft-color-text-flow-scrollbar;
    -fx-background-insets: 6;
    -fx-background-radius: 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 7 0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0 7;
}

.scroll-pane .viewport {
    -fx-background-color: -aft-color-window-bg;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.text-field{
   -fx-border-color: -aft-color-window-bg;
   -fx-border-width: 0;
   -fx-background-color: -aft-color-window-bg;
   -fx-text-fill: -aft-color-window-text;
}
